/******************* CSS for info part of home page ***************************/
.runinfo {
	border:none;
	width:23%;
	margin:5px;
	float:left;
	color:white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding:8px;
}

.runinfo .name {
	font-size:13px;
	text-transform: uppercase;
}

.runinfo .value{
	font-size:28px;
}

.runinfo-program {
	background-color:#E5412D;
}

.runinfo-time {
	background-color:#EEA236;
}

.runinfo-avail-mem {
	background-color:#888;
}

.runinfo-used-mem {
	background-color:#E6E6E6
}

/********************* some css for home page *******************************/
.matt-has-warning {
	font-weight:bold;
	color:red;
}

.matt-separator {
	background:gray;
}

.matt-hidden {
	display:none;
}

/*********************** charts of size distr page **************************/
.matt-size-plot .axis text {
  font: 10px sans-serif;
}

.matt-size-plot .axis path,
.matt-size-plot .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.matt-size-plot .bar {
  fill: steelblue;
  fill-opacity: .9;
}

.matt-size-plot .bar:hover {
  fill: orangered ;
}

.matt-size-plot .x.axis path {
  display: none;
}

.matt-size-plot label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.matt-size-plot .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.matt-size-plot .grid path {
      stroke-width: 0;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*******************/
.node {
  font: 300 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 3px;
}

.link--source-sec,
.link--target-sec {
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

.link--source, .link--source-sec {
  stroke: #d62728;
}

.link--target, .link--target-sec {
  stroke: #2ca02c;
}



