# Ignore node modules which are downloaded at the installation
src/webview/node_modules/

# Ignore build directories
src/webview/dist
src/webview/build
/build*
/venv

# for convenience
/UNTRACKED

# python
__pycache__

# examples built
examples/step-1-basic
examples/step-2-problem-fragmentation
examples/step-3-problem-mem-on-stack
examples/step-4-problem-short-life-alloc
examples/step-5-problem-for-auto-missing-ref-copy
examples/step-6-problem-grow-by-copy
examples/step-7-problem-peak

# cache
/podman-ccache
