# Ignore node modules which are downloaded at the installation
src/webview/node_modules/

# Ignore build directories
src/webview/dist
src/webview/build
/build*
/venv

# for convenience
/UNTRACKED

# python
__pycache__

#venv
.venv

/podman-ccache
