# Ignore node modules which are downloaded at the installation
node_modules
extern-deps/jemalloc/jemalloc-*

# Ignore build directories
src/webview/dist
src/webview/build
/build*
/venv

# for convenience
/UNTRACKED

# python
__pycache__

# examples built
examples/cpp/step-01-basic
examples/cpp/step-02-problem-fragmentation
examples/cpp/step-03-problem-mem-on-stack
examples/cpp/step-04-problem-short-life-alloc
examples/cpp/step-05-problem-for-auto-missing-ref-copy
examples/cpp/step-06-problem-grow-by-copy
examples/cpp/step-07-problem-peak
examples/cpp/step-08-problem-heavy-realloc
examples/cpp/step-09-problem-tls-and-gbl-vars
examples/cpp/step-10-problem-leak
examples/cpp/step-11-direct-mmap-munmap
examples/cpp/step-12-direct-mmap-munmap-middle
examples/cpp/*.json
examples/cpp/*.trace
examples/fortran/01-ifort-heap-arrays/reproducer_heap
examples/fortran/01-ifort-heap-arrays/reproducer_stack
examples/fortran/*/malt-*.json
examples/fortran/*/malt-*.trace
examples/python/malt-*.json
examples/python/malt-*.trace
examples/python/*.so

# cache
/podman-cache
.venv

# IDE
.idea

# doc
src/doc/sphinx/build
