<% layout('page-layout') -%>

<% script('deps/d3js/d3.min.js') -%>
<% script('deps/nvd3/nv.d3.min.js') -%>
<% stylesheet('deps/nvd3/nv.d3.min.css') -%>

<% script('global-variables.js') -%>

<div class="container-fluid">
	<div>
		<h2>Summary</h2>
		<div>
			Global variables : <span id='globalVariables'></span>
		</div>
		<div>
			TLS variables : <span id='tlsVariables'></span>
		</div>
	</div>
	
	<div>
		<h2>Pies</h2>
		<div style='float:left;width:30%'>
			<h3>Binaries</h3>
			<svg id="matt-vars-pie-bin" height="400px"/>
		</div>
		
		<div style='float:left;width:70%'>
			<h3>Variables</h3>
			<svg id="matt-vars-pie-var" height="400px"/>
		</div>
	</iv>
	
	<div>
		<h2>Distribution over binaries</h2>
		<svg id="matt-vars-multibar-bin"  height="400px"/>
		<!--<input type='button' onclick="selectedLibs='all'" value="Reset filter"></input>-->
	</div>
	
	<div>
		<h2>Distribution over variables</h2>
		<svg id="matt-vars-multibar-var"  height="400px"/>
	</div>
</div>

<script type='text/javascript'>
	
	
	/////////////////////////// MAIN //////////////////////////////////////
	$( document ).ready(function() {
		$.getJSON( "/global-variables.json", function( data ) {
			varMaxThreadCount = data.maxThreadCount;
			var tmp = getSummary(data.vars);
			$('#globalVariables').text(mattHelper.humanReadableValue(tmp.global,'B',false));
			$('#tlsVariables').text(mattHelper.humanReadableValue(tmp.tls,'B',false));
			buildDonutGraph('matt-vars-pie-bin',cutForPie(getDataForBinaryPies(data.vars),95,8,0.1));
			buildDonutGraph('matt-vars-pie-var',cutForPie(getDataForVarPies(data.vars),95,16,0.1));
			
			buildMultiBarChart('matt-vars-multibar-bin',getDataForBinaryGraphs(data.vars),onClickForBinChart);
			buildMultiBarChart('matt-vars-multibar-var',getDataForVarGraphs(data.vars));
			//matt-vars-multibar-bin
			//matt-vars-multibar-var
			varData = data.vars;
		});
	});
</script>
