/***********************************************************
*    PROJECT  : MALT (MALoc Tracker)
*    DATE     : 11/2025
*    LICENSE  : CeCILL-C
*    FILE     : src/webview/client-files/src/assets/scss/index.scss
*-----------------------------------------------------------
*    AUTHOR   : Emeric GUYON - 2025
***********************************************************/

// =============================================================================
// MALT WebView - Main SCSS Entry
// =============================================================================

// Import design system variables
@use './variables' as *;

// Import utility classes
@use './utilities';

// =============================================================================
// Global Styles
// =============================================================================

body {
  min-width: 900px;
}
