<div class="container-fluid">
		<div>
			<div width='100%' height=''>
			<div class="runinfo runinfo-program">
				<div class='name'>Most used</div>
				<div class='value'>{{formatedMostUsed}}</div>
			</div>
			
			<div class="runinfo runinfo-time">
				<div class='name'>Mean jump size</div>
				<div class='value'>{{meanDelta}}</div>
			</div>

			<div class="runinfo runinfo-avail-mem">
				<div class='name'>Number</div>
				<div class='value'>{{realloCount}}</div>
			</div>
			
			<!-- To clear float issue -->
			<div width='100%' style='clear:both;'></div>
		</div>
		
		<!-- Global summary -->
		<h2>Most used realloc sizes</h2>
		<div id='matt-most-used' class='matt-size-plot'>
			<svg height="400px" width="100%"/>
		</div>
	
		<!-- Global summary -->
		<h2>Most used realloc gaps</h2>
		<div id='matt-most-used-delta' class='matt-size-plot'>
			<input type="checkbox"> Sort values
			<svg height="400px" width="100%"/>
		</div>
		
			<!-- Global summary -->
		<h2>Realloc gap histogram</h2>
		<div id='matt-log-delta' class='matt-size-plot'>
			<svg height="400px" width="100%"/>
		</div>
		
			<!-- Global summary -->
		<h2>Realloc chart</h2>
		<div id='matt-resize-map' class='matt-resize-map '>
			<input type="checkbox"> Show all jumps on mouse over
			<svg height="400px"/>
<!-- 			<svg heigt="400px" width="100%"/> -->
		</div>
		
		<ul>
			<li>TODO : count realloc used as free/malloc </li>
			<li>TODO : most used delta</li>
			<li>TODO : delta histo</li>
			<li>TODO : size chart links with splines on circle</li>
			<li></li>
		</ul>
	</div>
</div>