/******************** SOURCE EDITOR ******************/
/* Source editor */
#matt-source-editor { 
	right: 0;
	left: 0;
	height:500px;
	width:100%;
}

#matt-source-editor .matt-annotations {
	width:5em;
}

#matt-source-editor .matt-annotation{
	font-size:11px;
	text-align:right;
	
	padding-right:9px;
	
	/* bardge http://cssdeck.com/labs/twitter-bootstrap-badges */
/* 	padding: 1px 9px 2px; */
/* 	font-size: 12.025px; */
	font-weight: bold;
	white-space: nowrap;
	color: #ffffff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background-color: #b94a48;
	
	cursor:pointer;
}

#matt-source-editor  .CodeMirror
{
/* 	height:auto; */
	height:100%;
	border:solid 1px black;
}

#matt-alloc-info {
	background:white;
	color:black;
	padding:10px;
}

#matt-alloc-stacks {
/* 	background:gray; */
	color:black;
}

/********************* MAX STACK *********************/
#stack-blocks-progress .progress-bar{
	overflow:hidden;
}

#stack-blocks-progress .progress-bar:hover {
	opacity: 0.85;
	cursor: pointer;
}

/******************* FLAT FUNC LIST ******************/
/* Flat list of function in stack-analysis */
#matt-func-list li a {
	height:3em
}

#matt-func-list div.progress {
	display:block;
	float:left;
	width:7%;
}

#matt-func-list .size {
	width:7em;
	display:block;
	float:left;
	text-align:right;
	padding-right:1em;
}

#matt-func-list .func {
	display:block;
	float:left;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:
	ellipsis;max-width:51%;
}

.matt-chart svg g rect {
	background:red;
}

.matt-chart .nvd3 .nv-axis line {
	stroke:#4F5761;
	stroke-dasharray:'5,5';
}

.matt-chart text {
	fill:gray;
}

.matt-graph-background {
	fill:#464D56;
	opacity:1;
}


.ace_marker-layer .matt_warning {
    position: absolute;
    z-index: 4;
    background: #1F384A;
}