<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

<div width='100%' height=''>
	<div class="runinfo runinfo-first">
		<div class='name'>Largest stack</div>
		<div class='value'>{{largestStack}}</div>
	</div>

	<div class="runinfo runinfo-second">
		<div class='name'>Threads</div>
		<div class='value'>{{threadCnt}}</div>
	</div>

	<!-- To clear float issue -->
	<div width='100%' style='clear:both;'></div>

	<h2>Stack peaks</h2>
	<div id="threadStacks"><app-nvd3 [options]="optionThreadStacks" [data]="dataThreadStacks"></app-nvd3></div>
	<div class="btn-div">
		<button class="btn-csv" (click)="showDataCSV('ThreadStacks','threadStacks')"></button>
		<button class="btn-json" (click)="showDataJSON('ThreadStacks','threadStacks')"></button>
		<button class="btn-svg" (click)="showDataSVG('threadStacks')"></button>
	</div>

	<h2>Stack size over time</h2>
	<div id="time"><app-nvd3 [options]="optionTime" [data]="dataTime"></app-nvd3></div>
	<div class="btn-div">
		<button class="btn-csv" (click)="showDataCSV('Stacks over time','time')"></button>
		<button class="btn-json" (click)="showDataJSON('Stacks over time','time')"></button>
		<button class="btn-svg" (click)="showDataSVG('time')"></button>
	</div>

	<h2>Stack detail for thread {{selectedThread}}</h2>
	<div id="time"><app-nvd3 [options]="optionStack" [data]="dataStack"></app-nvd3></div>
</div>
