<div class="container-fluid">
		<div>
			<div width='100%' height=''>
			<div class="runinfo runinfo-program">
				<div class='name'>Mean size</div>
				<div class='value'>{{meanChunkSize}}</div>
			</div>
			
			<div class="runinfo runinfo-time">
				<div class='name'>Most used size</div>
				<div class='value'>{{mostUsedSize}}</div>
			</div>

			<div class="runinfo runinfo-avail-mem">
				<div class='name'>Largest</div>
				<div class='value'>{{largestSize}}</div>
			</div>

			<!-- To clear float issue -->
			<div width='100%' style='clear:both;'></div>
		</div>
	
		<!-- Global summary -->
		<h2>Most used sizes</h2>
		<div id='malt-most-used-sizes' class='malt-size-plot'>
			<input type="checkbox"> Sort values
			<svg height="400px" width="100%"/>
		</div>
<!-- 		<maltsizedistrchart data='sizeMap' height='400px'/> -->
	</div>
	
	<div>
		<h2>Histogram</h2>
		<div id='malt-size-distr-hist' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
		</div>
	</div>
	
	<!-- Global summary -->
	<h2>Size over time</h2>
	<div id='malt-scatter-size-over-time' class='malt-size-plot'>
		<svg height="400px" width="100%"/>
	</div>
	
	<!-- new test -->
	<!--<div id='malt-scatter-size-over-time-2' class='malt-size-plot'>
		<svg height="400px" width="100%"/>
		<canvas height="400px" width="100%"/>
	</div>-->
	
	<!-- Global summary -->
	<h2>Lifetime over size</h2>
	<div id='malt-scatter-lifetime-over-size' class='malt-size-plot'>
		<svg height="400px" width="100%"/>
	</div>
</div>
