<!----------------------------------------------------------
|    PROJECT  : MALT (MALoc Tracker)
|    VERSION  : 1.2.2
|    DATE     : 08/2014
|    LICENSE  : CeCILL-C
|    FILE     : src/webview/client-files/app/partials/funcs-directive.html
|-----------------------------------------------------------
|    AUTHOR   : Sébastien Valat (ECR) - 2014
----------------------------------------------------------->
<div>
<table>
	<tr>
		<th>Name</th>
		<th>Value</th>
	</tr>
	<tr ng-repeat="func in funcs | orderBy:'info.'+selected:true | limitTo:limit" ng-click="selectFunc(func)">
		<td>{{func.function}}</td>
		<td>{{func.info[selected]}}</td>
	</tr>
</table>
</div>