<div class="container-fluid">
	<div>
		<h2>Summary</h2>
		
		<div>
			<div class="runinfo runinfo-program">
				<div class='name'>Global variables</div>
				<div class='value'>{{globalVariablesMem}}</div>
			</div>
		
			<div class="runinfo runinfo-time">
				<div class='name'>TLS variables</div>
				<div class='value'>{{tlsVariablesMem}}</div>
			</div>
			
			<div class="runinfo runinfo-avail-mem">
			<div class='name'>Activ threads</div>
			<div class='value'>{{activeThreads}}</div>
		</div>
			<!-- To clear float issue -->
			<div width='100%' style='clear:both;'></div>
		</div>
	</div>
	
	<div>
		<h2>Pies</h2>
		<div style='float:left;width:29%;margin-right:2%;border-right:solid black 1px;'>
			<h3>Binaries</h3>
			<maltgblvarchart data="dataForBinaryPie" kind="pie" height="400px"/>
		</div>
		
		<div style='float:left;width:69%'>
			<h3>Variables</h3>
			<maltgblvarchart data="dataForVarPie"  kind="pie" height="400px"/>
		</div>
	</iv>
	
	<div>
		<h2>Distribution over binaries</h2>
		<!--<svg id="malt-vars-multibar-bin"  height="400px"/>-->
		<maltgblvarchart data="dataForBinaryBar" kind="bar" height="400px" onvalueclick='onVarChartValueClick'/>
		<!--<input type='button' onclick="selectedLibs='all'" value="Reset filter"></input>-->
	</div>
	
	<div>
		<h2>Distribution over variables</h2>
		<maltgblvarchart data="dataForVarBar" kind="bar" height="400px"/>
		<!--<svg id="malt-vars-multibar-var"  height="400px"/>-->
	</div>
</div>
