<table class='table table-bordered table-func-list'>
	<tr>
		<th>Ratio</th>
		<th>Value</th>
		<th>Function</th>
	</tr>
	<tr ng-repeat="func in functions | orderBy:getValue:getReverse() | limitTo:limit" ng-click="selectFunc(func)" ng-class='{"malt-hidden": useHiddenClass(func)}'>
		<td class='progress-td'>
			<div class='progress'>
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{getValueRatio(func)}}%;">
					<span class="sr-only">60% Complete</span>
				</div>
			</div>
		</td>
		<td class='size'>{{getFormattedValue(func)}}</td>
		<td class='func'><a href="#sources?func={{func.function}}&amp;metric={{metric}}">{{func.function}}</a></td>
	</tr>
</table>
