<div class="home">

<!--	<div width='100%' height=''>
		<div class="runinfo runinfo-time">
			<div class='name'>Execution time</div>
			<div class='value'>{{getFormattedExecTime()}}</div>
		</div>

		<div class="runinfo runinfo-program">
			<div class='name'>Physical memory peak</div>
			<div class='value'>{{getFormattedValueFromKey('peakPhysicalMemory')}}</div>
		</div>

		<div class="runinfo runinfo-avail-mem">
			<div class='name'>Allocation count</div>
			<div class='value'>{{getFormattedValueFromKey('allocCount')}}</div>
		</div>
		
		<div class="runinfo runinfo-used-mem">
			<div class='name'>Available physical memory</div>
			<div class='value'>{{getFormattedTotalMemory()}}</div>
		</div>-->
		<!-- To clear float issue -->
<!-- 		<div width='100%' style='clear:both;'></div> -->
<!-- 	</div> -->

<!-- 	<h2>Run description</h2> -->
	
	<h2>Call per thread</h2>
		<div id='malt-per-thread-funcs-count' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
		</div>
	
	<h2>Time per thread</h2>
		<div id='malt-per-thread-funcs-time' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
		</div>

	<h2>Cumulated memory per thread</h2>
		<div id='malt-per-thread-funcs-sum' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
		</div>
</div>