<!----------------------------------------------------------
|    PROJECT  : MALT (MALoc Tracker)
|    VERSION  : 1.2.2
|    DATE     : 08/2016
|    LICENSE  : CeCILL-C
|    FILE     : src/webview/client-files/app/partials/source-popover.html
|-----------------------------------------------------------
|    AUTHOR   : Mehdi Raza Jaffery (CERN) - 2016
----------------------------------------------------------->
<div style="font-family:Menlo,Monaco,Consolas,'Courier New',monospace;font-size:12px;">
	{{func.function}}
</div>