<div class="home">

	<div class="row">
			<div class="col-sm-5 col-md-4 col-lg-3 sidebar">
				<malt-function-selector selector="selector" functions="functions" on-select="onFunctionSelectEvent(data)" />
			</div>
			
			<!-- Source editor -->
			<div class="col-sm-7 col-md-8 col-lg-9 main">
			
				<!-- Filename -->
				<div ng-hide='!hasSources()' class="alert alert-warning" role="alert">
					No source code available for function {{function}} !
				</div>
				<div ng-hide='hasSources()'>
				<span id='malt-source-filename'>{{file}} | {{function}}</span>
			
				<div id='malt-source-editor'></div>
				</div>
				
				<div id='malt-alloc-info' style="width:50%;float:left;">
					<malt-memory-table details="selectedDetails"></malt-memory-table>
				</div>
				<div id='malt-alloc-stacks' style="width:50%;float:left;">
					<table id='malt-alloc-stacks-tree'>
						<thead>
							<tr>
								<th>Function</th>
								<th>Metric</th>
							</tr>
						</thead>
						<tbody>
							<!--<tr class="branch expanded" data-tt-id="000">
							<td><span style="padding-left: 0px;" class="indenter"></span>app</td>
							</tr>
							<tr class="branch expanded" data-tt-id="100" data-tt-parent-id="000">
							<td><span style="padding-left: 19px;" class="indenter"></span>controllers</td>
							</tr>
							<tr class="leaf expanded" data-tt-id="500" data-tt-parent-id="100">
							<td><span style="padding-left: 38px;" class="indenter"></span>application_controller.rb</td>
							</tr>
							<tr class="leaf expanded" data-tt-id="200" data-tt-parent-id="000">
							<td><span style="padding-left: 19px;" class="indenter"></span>helpers</td>
							</tr>
							<tr class="leaf expanded" data-tt-id="300" data-tt-parent-id="000">
							<td><span style="padding-left: 19px;" class="indenter"></span>models</td>
							</tr>
							<tr class="leaf expanded" data-tt-id="400" data-tt-parent-id="000">
							<td><span style="padding-left: 19px;" class="indenter"></span>views</td>
							</tr>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>