<div class="container-fluid">
	<div>
		<h2>Summary</h2>
		
		<div>
			<div class="runinfo runinfo-program">
				<div class='name'>Largest stack</div>
				<div class='value'>{{largestStack}}</div>
			</div>
		
			<div class="runinfo runinfo-time">
				<div class='name'>Threads</div>
				<div class='value'>{{threads}}</div>
			</div>

			<!-- To clear float issue -->
			<div width='100%' style='clear:both;'></div>
		</div>
	</div>
	
	<div>
		<h2>Stack peaks</h2>
		<!--<ul class="pagination">
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			...
		</ul>-->
		<div id='malt-stack-peaks'>
			<svg width='100%' height='400px'/>
		</div>
	</div>
	
	<div>
		<h2>Stack of thread {{selectedThreadId}}</h2>
		<div id='malt-selected-stack-size'>
			<svg width='100%' height='400px'/>
		</div>
	</div>
	
	<div>
		<h2>Stack memory used by functions for thread {{selectedThreadId}}</h2>
		<div id='malt-selected-stack-details'>
			<svg width='100%' height='400px'/>
		</div>
	</div>
</div>
