<div class="container-fluid">
		<!--<div>
			<div width='100%' height=''>
			<div class="runinfo runinfo-program">
				<div class='name'>Most used</div>
				<div class='value'>{{formatedMostUsed}}</div>
			</div>
			
			<div class="runinfo runinfo-time">
				<div class='name'>Mean jump size</div>
				<div class='value'>{{meanDelta}}</div>
			</div>

			<div class="runinfo runinfo-avail-mem">
				<div class='name'>Number</div>
				<div class='value'>{{realloCount}}</div>
			</div>-->
			<!-- To clear float issue -->
			<!--<div width='100%' style='clear:both;'></div>
		</div>-->
		
		<!-- Global summary -->
		<h2>Memory allocated over time</h2>
		<div id='malt-mem-timeline' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
			<center><a href="" ng-click="onExportData('malt-mem-timeline','json')">JSON data</a> | <a href="" ng-click="onExportData('malt-mem-timeline','csv')">CSV data</a> | <a href="javascript:maltTimelineSaveAsSVG('malt-mem-timeline')">Save as SVG</a></center>
		</div>
		
		<!-- Global summary -->
		<h2>Alive chunks over time</h2>
		<div id='malt-alive-chunks-timeline' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
			<center><a href="" ng-click="onExportData('malt-alive-chunks-timeline','json')">JSON data</a> | <a href="" ng-click="onExportData('malt-alive-chunks-timeline','csv')">CSV data</a> | <a href="javascript:maltTimelineSaveAsSVG('malt-alive-chunks-timeline')">Save as SVG</a></center>
		</div>
		
		<!-- Global summary -->
		<h2>Allocation rate (memory size)</h2>
		<div id='malt-alloc-rate-size-timeline' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
			<center><a href="" ng-click="onExportData('malt-alloc-rate-size-timeline','json')">JSON data</a> | <a href="" ng-click="onExportData('malt-alloc-rate-size-timeline','csv')">CSV data</a> | <a href="javascript:maltTimelineSaveAsSVG('malt-alloc-rate-size-timeline')">Save as SVG</a></center>
		</div>
		
		<!-- Global summary -->
		<h2>Allocation rate (operations)</h2>
		<div id='malt-alloc-rate-count-timeline' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
			<center><a href="" ng-click="onExportData('malt-alloc-rate-count-timeline','json')">JSON data</a> | <a href="" ng-click="onExportData('malt-alloc-rate-count-timeline','csv')">CSV data</a> | <a href="javascript:maltTimelineSaveAsSVG('malt-alloc-rate-count-timeline')">Save as SVG</a></center>
		</div>
		
		<!-- Global summary -->
		<h2>System memory</h2>
		<div id='malt-sys-free-mem-timeline' class='malt-size-plot'>
			<svg height="400px" width="100%"/>
			<center><a href="" ng-click="onExportData('malt-sys-free-mem-timeline','json')">JSON data</a> | <a href="" ng-click="onExportData('malt-sys-free-mem-timeline','csv')">CSV data | <a href="javascript:maltTimelineSaveAsSVG('malt-sys-free-mem-timeline')">Save as SVG</a></a></center>
		</div>
	</div>
	
	<div class="modal fade" id="myModal" >
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
<!-- 				<textarea width="200" cols="65" rows="20">{{dataModal}}</textarea> -->
				<pre id="modal-pre" style="max-height: 400px;">{{dataModal}}</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="selectOnClickPre(document.getElementById('modal-pre'))">Select all</button>
			</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<script>
		function selectOnClickPre(obj)
		{
			if (obj.select) {
			obj.select();
			}
			else if (document.selection) {
				var range = document.body.createTextRange();
				range.moveToElementText(obj);
				range.select();
			} else if (window.getSelection) {
				var range = document.createRange();
				range.selectNode(obj);
				window.getSelection().addRange(range);
			}
		}
	</script>
	<script type="text/ng-template" id="myModalContent.html">
	    <div class="modal-header">
	        <h3 class="modal-title" id="modal-title">Allocated Chunks</h3>
	    </div>
	    <div class="modal-body" id="modal-body">
	        <table class="table table-bordered table-condensed">
	        	<tr>
	        		<th>Stack</th>
	        		<th>Count</th>
	        		<th>Total</th>
	        	</tr>
	        	<tr ng-repeat="chunk in $ctrl.data.result">
	        		<td>
	        			<span ng-repeat="stackItem in chunk.stack">
		        			<a href="#/sources?func={{ stackItem.function }}&amp;metric=alloc.count">
		        				<code>{{ stackItem.function }}</code>
		        			</a>
		        			<span style="color: #eae9e9;" ng-hide="$last" class="glyphicon glyphicon-chevron-right"></span>
	        			</span>
	        		</td>
	        		<td>{{ chunk.chunkCount }}</td>
	        		<td>{{ chunk.chunkTotalSize }}</td>
	        	</tr>
	        </table>
	    </div>
	</script>
</div>
