<% layout('page-layout') -%>
<% script('stack-analysis/flat-func-list.js') -%>
<% script('stack-analysis/source-editor.js') -%>
<% script('deps/d3js/d3.min.js') -%>

<% script('deps/codemirror/lib/codemirror.js') -%>
<% script('deps/codemirror/mode/clike/clike.js') -%>
<% script('deps/codemirror/addon/selection/active-line.js') -%>
<% stylesheet('deps/codemirror/lib/codemirror.css') -%>
<% stylesheet('deps/codemirror/theme/lesser-dark.css') -%>

<!-- ****************** STACK ANALYSER *************** -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 col-md-4 col-lg-3 sidebar">
			<!-- Selection -->
			<div id='matt-func-list-selector'>
			</div>
			
		
			<!-- Func lis -->
			<ul class="nav nav-sidebar" id='matt-func-list'>
			</ul>
		</div>
		
		<!-- Source editor -->
		<div class="col-sm-7 col-md-8 col-lg-9 main">
			<div id='matt-source-editor'></div>
			<div id='matt-alloc-info' style="width:30%;float:left;"></div>
			<div id='matt-alloc-stacks' style="width:70%;float:left;"></div>
		</div>
	</div>
</div>

<script type='text/javascript'>
	$( document ).ready(function() {
		var mattEditor = new MattEditor('matt-source-editor');
		var mattFuncList = new MattFuncList('matt-func-list');
		var mattFuncListSelector = new MattFuncListSelector('matt-func-list-selector');
		mattFuncListSelector.onChange = function(){
			mattFuncList.updateOptions(this);
			mattEditor.setSelector(mattFuncListSelector.getSelector(),mattFuncListSelector.mode);
			mattEditor.redrawAnnotations();
		};
		mattFuncList.onClick = function(func,file,line)
		{
			mattEditor.setSelector(mattFuncListSelector.getSelector(),mattFuncListSelector.mode);
			mattEditor.updateFile(file,line,true);
		}
		mattFuncList.updateOptions(mattFuncListSelector);
	});
</script>
