<% layout('page-layout') -%>

<% script('deps/jqplot/jquery.jqplot.min.js') -%>
<% script('deps/jqplot/plugins/jqplot.enhancedLegendRenderer.min.js') -%>
<% script('deps/jqplot/plugins/jqplot.highlighter.min.js') -%>
<% script('deps/jqplot/jquery.jqplot.css') -%>
<% stylesheet('deps/jqplot/jquery.jqplot.css') -%>

<% script('time-analysis/time-graphs.js') -%>


<!-- ****************** STACK ANALYSER *************** -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 main">
			<div id='matt-plot' style="height:400px;width:90%;margin-left:auto;margin-right:auto;">
			</div>
			<div id='matt-plot2' style="height:400px;width:90%;margin-left:auto;margin-right:auto;">
			</div>
		</div>
	</div>
</div>

<script type='text/javascript'>
	$( document ).ready(function() {
		$.getJSON( "timed.json", function( data ) {
			mattUpdatePlot('matt-plot','Memory',mattConvertData(data),'B');
			mattUpdatePlot('matt-plot2','Allocated segments',mattConvertCnt(data),'');
		});
	});
</script>
