<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

<div width='100%' height=''>
	<div class="runinfo runinfo-first">
		<div class='name'>Execution time</div>
		<div class='value'>{{getFormattedExecTime()}}</div>
	</div>

	<div class="runinfo runinfo-second">
		<div class='name'>Allocation peak</div>
		<div class='value'>{{getFormatedAllocationPeak()}}</div>
	</div>

	<div class="runinfo runinfo-third">
		<div class='name'>Physical memory peak</div>
		<div class='value'>{{getFormattedValueFromKey('physPeak')}}</div>
	</div>

	<div class="runinfo runinfo-fourth">
		<div class='name'>Allocation count</div>
		<div class='value'>{{getFormattedValueFromKey('allocCount')}}</div>
	</div>
	<!-- To clear float issue -->
	<div width='100%' style='clear:both;'></div>

	<h2>Run description</h2>


	<table class='table table-bordered'>
		<tr>
			<td>Executable :</td>
			<td>{{runInfo.run.exe}}</td>
		</tr><tr>
			<td>Commande :</td>
			<td><pre>{{runInfo.run.command}}</pre></td>
		</tr><tr>
			<td>Tool :</td>
			<td>{{runInfo.run.tool}}</td>
		</tr><tr>
			<td>Host :</td>
			<td>{{runInfo.run.hostname}}</td>
		</tr><tr>
			<td>Date :</td>
			<td>{{runInfo.run.date}}</td>
		</tr><tr>
			<td>Execution time :</td>
			<td>{{getFormattedExecTime()}}</td>
		</tr><tr>
			<td>Ticks frequency :</td>
			<td>{{getFormattedCpuFreq()}}</td>
		</tr>
	</table>
</div>
