
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">MATT-Webview</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="['/threads']" routerLinkActive="active">Threads</a></li>
        <li><a [routerLink]="['/timeline']" routerLinkActive="active">Timeline</a></li>
        <li><a [routerLink]="['/sources']" routerLinkActive="active">Sources</a></li>
        <li><a [routerLink]="['/stacks']" routerLinkActive="active">Stacks</a></li>
        <li><a [routerLink]="['/sizes']" routerLinkActive="active">Sizes</a></li>
        <li><a [routerLink]="['/realloc']" routerLinkActive="active">realloc</a></li>
        <li><a [routerLink]="['/help']" routerLinkActive="active">help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="matt">
	<div class="container">
		<!-- Main component for a primary marketing message or call to action -->
		<div class='view-container container-fluid'>
			<router-outlet></router-outlet>
		</div>
	</div>
</div> <!-- /container -->
