/********************* BETWEEN ROUTES ****************************/
/* Animation when moving between routes (pages) */
.malt .view-container {
  position: relative;
}

.malt .view-frame.ng-enter, .malt .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.malt .view-frame.ng-enter {
  -webkit-animation: 0.5s malt-fade-in;
  -moz-animation: 0.5s malt-fade-in;
  -o-animation: 0.5s malt-fade-in;
  animation: 0.5s malt-fade-in;
  z-index: 100;
}

.malt .view-frame.ng-leave {
  -webkit-animation: 0.5s malt-fade-out;
  -moz-animation: 0.5s malt-fade-out;
  -o-animation: 0.5s malt-fade-out;
  animation: 0.5s malt-fade-out;
  z-index:99;
}

@keyframes malt-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes malt-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes malt-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes malt-fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes malt-fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes malt-fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
