/******************** SOURCE EDITOR ******************/
/* Source editor */
#malt-source-editor { 
	right: 0;
	left: 0;
	height:500px;
	width:100%;
}

#malt-source-editor .malt-annotations {
	width:5em;
}

#malt-source-editor div.malt-annotation-small{
	font-size:11px;
	text-align:right;
	
	padding:2px;
	padding-right:9px;
	
	/* bardge http://cssdeck.com/labs/twitter-bootstrap-badges */
/* 	padding: 1px 9px 2px; */
/* 	font-size: 12.025px; */
	font-weight: bold;
	white-space: nowrap;
	color: #ffffff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	/*background-color: #b94a48;*/
	background-color:#397EBA;
	cursor:pointer;
}

#malt-source-editor div.malt-annotation-medium{
	font-size:11px;
	text-align:right;
	
	padding:2px;
	padding-right:9px;
	
	/* bardge http://cssdeck.com/labs/twitter-bootstrap-badges */
/* 	padding: 1px 9px 2px; */
/* 	font-size: 12.025px; */
	font-weight: bold;
	white-space: nowrap;
	color: #ffffff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	/*background-color: #b94a48;*/
	background-color:#FFAB57;
	cursor:pointer;
}

#malt-source-editor div.malt-annotation-large{
	font-size:11px;
	text-align:right;
	
	padding:2px;
	padding-right:9px;
	
	/* bardge http://cssdeck.com/labs/twitter-bootstrap-badges */
/* 	padding: 1px 9px 2px; */
/* 	font-size: 12.025px; */
	font-weight: bold;
	white-space: nowrap;
	color: #ffffff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	/*background-color: #b94a48;*/
	background-color:#FF9595;
	cursor:pointer;
}

#malt-source-editor  .CodeMirror
{
/* 	height:auto; */
	height:100%;
	border:solid 1px lightgray;
}

#malt-source-filename {
	border:solid 1px lightgray;
	width:fit-content;
	margin:0px;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	padding:3px;
	padding-left:10px;
	padding-right:10px;
	background-color:#F7F7F7;
}

#malt-alloc-info {
	background:white;
	color:black;
	padding:10px;
}

#malt-alloc-stacks {
/* 	background:gray; */
	color:black;
}

/********************* MAX STACK *********************/
#stack-blocks-progress .progress-bar{
	overflow:hidden;
}

#stack-blocks-progress .progress-bar:hover {
	opacity: 0.85;
	cursor: pointer;
}

/********************** STACK TREE ********************/
#malt-alloc-stacks-tree tbody tr:hover
{
	background-color:#DCDCDC;
}

/******************* FLAT FUNC LIST ******************/
/* Flat list of function in stack-analysis */
#malt-func-list li a {
	height:3em
}

#malt-func-list div.progress {
	display:block;
	float:left;
	width:7%;
}

#malt-func-list .size {
	width:7em;
	display:block;
	float:left;
	text-align:right;
	padding-right:1em;
}

#malt-func-list .func {
	display:block;
	float:left;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:
	ellipsis;max-width:51%;
}

/**
 * Compact function list styling
 */

#malt-func-list.compact .progress {
	display: none;
}

#malt-func-list.compact .size, #malt-func-list.compact .func {
	font-size: 12px;
}

#malt-func-list.compact .func {
	padding-top: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	max-width: 75%;
}

#malt-func-list.compact .size {
	width: 25%;
}

#malt-func-list.compact .size .progress-fg {
	content: '';
	display: block;
	height: 4px;
	background-color: #337ab7;
	position: relative;
	top: 4px;
	width: attr(progress);
	border-radius: 2px;
}

#malt-func-list.compact .size .progress-bg {
	content: '';
	height: 4px;
	display: block;
	border-radius: 2px;
	background-color: #d8d8d8;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}

/*.malt-chart svg g rect {
	background:red;
}

.malt-chart .nvd3 .nv-axis line {
	stroke:#4F5761;
	stroke-dasharray:'5,5';
}

.malt-chart text {
	fill:gray;
}

.malt-graph-background {
	fill:#464D56;
	opacity:1;
}*/

/*********************************************************/
h2 {
	border-bottom:1px  solid black;
}

.table-func-list {
	border-collapse:collapse;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}

#table-global-summary {
	width:95%;
}

.table-func-list th {
	text-align:center;
}

.table-func-list td {
	padding:5px;
}

.table-func-list .progress-td {
	width:100px;
	vertical-align:middle;
}

.table-func-list .progress {
	margin:auto;
}

.table-func-list .size {
	width:120px;
	text-align:right;
	padding-right:20px;
}

.table-func-list th, td {
	border:1px solid lightgray;
}

.table-func-list tr:hover > td{
	background-color:#E9E9E9;
}

/*********************************************************/
.malt-graph-background
{
	
}

.ace_marker-layer .malt_warning {
    position: absolute;
    z-index: 4;
    background: #1F384A;
}