######################################################
#            PROJECT  : MALT                         #
#            VERSION  : 1.2.6                        #
#            DATE     : 06/2023                      #
#            AUTHOR   : Sebastien Valat              #
#            LICENSE  : Apache 2.0                   #
######################################################

name: Malt
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-project:
    name: Build & test MALT
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Install dependencies
        run: sudo apt-get install -y libunwind-dev nodejs npm cmake

      - name: Build Project & test
        run: |
          mkdir build
          cd build
          ../configure --enable-tests --enable-debug --enable-junit-output
          make
          ctest --output-on-failure

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: failure()
